[user]
	name = tktcorporation
	email = tktcorporation.go@gmail.com
[ghq]
	root = ~/src
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	showpr = "!f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
[merge]
	ff = false
[pull]
	ff = only
